@import "assets/variables";
@import "assets/media-queries";

.case-hero {
  background-color: $secondary-bg;
  display: flex;
  justify-content: center;
  width: 100vw;
  left: 0;
  margin-left: -16px;
  min-height: 592px;
  
  @include tablet {
    margin-left: -65px;
    min-height: 558px;
  }

  @media (min-width: $max-width) {
    margin-left: calc((-1 * (100vw - 1440px + 260px)) / 2);
  }
  
  @media screen and (min-width: $desktop-width) and (max-width: $max-width) {
    margin-left: -130px;
  }
  
  &__wrapper {
    width: 100%;
    max-width: $max-width;
    padding: 80px 0 0 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      padding: 0 0 0 130px;
      margin-left: -65px;
    }

    & > img {
      width: 100%;

      @include tablet {
        width: 70%;
      }
    }

    &__left {
      & > img {
        width: 212px;
        margin-bottom: 32px;
      }
    
      & > p {
        width: 350px;
        font-size: 18px;
      }
    }
  }
}