@import "assets/media-queries";

.feature {
  margin-top: 32px;
  width: 100%;

  @include tablet {
    margin: 0;
    width: 282px;
  }

  & > h4 {
    font-size: 18px;
    margin: 24px 0 16px 0;
  }

  & > p {
    font-size: 14px;
  }

  & > img {
    width: 57px;
    height: 57px;
  }
}