@import 'assets/variables';
@import 'assets/media-queries';

.link {
  font-size: 19.4px;
  transition: color 0.2s;
  font-weight: 500;
  cursor: pointer;
  overflow: visible;

  &:after {
    content: none;
  }

  &:visited {
    color: inherit;
  }

  &.--default {
    color: $link-text;
    text-decoration: none;

    &:active {
      color: $primary-text;
    }

    @include tablet {
      &:hover {
        color: $primary-text;
      }
    }    
  }

  &.--underline,
  &.--button {
    overflow: hidden;
    font-weight: bold;
    color: $primary-text;
    text-decoration: none;
    text-align: center;

    letter-spacing: -0.5px;

    &:after {
      content: ''
    }
  }

  &.--underline {
    font-size: 18px;
    letter-spacing: 0;
  }

  &.--scale {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &:after {
      height: 0;
    }
  }
}